@{
    ViewData["Title"] = "Authors";
}
@model AllGenresViewModel

<style>
div{
    overflow: hidden;
}
</style>

<div class="row">
    <a class="btn btn-primary" href="@Url.Action("AddGenre", "Genre")">Add genre</a>
    @if(Model.Count == 0){
        <h3>No genres were found</h3>
    }
    else
    {
        @if(Model.Count == 1)
        {
            <h3>1 genre was found</h3>
        }
        else
        {
            <h3>@Model.Count genres were found</h3>
        }
        @foreach(var item in Model.Items)
    {
         <div class="card col col-12 col-md-6 col-lg-4 col-xl-3 p-1">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <a class="btn btn-primary" href="@Url.Action("Genre", "Genre", new {id=item.Id})">View more</a>
                <a class="btn btn-secondary" href="@Url.Action("BookGenre", "Book", new {id=item.Id})">View books</a>
                <a href="@Url.Action("DeleteGenre", "Genre", new {id = item.Id})" class="btn btn-danger">Delete genre</a>
                <br>
            </div>
        </div>
    }
    }
</div>
